.paths__container {
  display: flex;

  div {
    width: 50%;
    text-align: center;
    font-size: 13px;
    height: 29px;

    a {
      vertical-align: sub;
    }
  }

  .my-path {
    border-radius: 4px 0 0 4px;
    font-weight: 800;

    @include desktop {
      height: 37px;
    }
  }

  .michelada-path {
    border-radius: 0 4px 4px 0;

    @include desktop {
      height: 37px;
    }
  }
}

.career-path {
  .advisors__container {
    .advisors {
      border-radius: 10px;
      background-color: $concrete;
      width: 175px;
      height: 35px;
      margin-top: 1%;

      @include mobile {
        width: 37%;
        height: 35px;
        margin-top: 1%;
        width: 75%;
      }
    }
  }

  .breadcrumb__path {
    margin-top: 6%;

    .breadcrumb {
      a {
        padding: 0 3px;
        color: $black;

        &.is-active {
          color: $reddish-pink;
        }
      }
    }
  }
}

.performance--review {
  margin-top: 3%;
}

.achievements__container {
  @include desktop {
    padding-top: 5%;
    background-color: $alabaster;

    .title {
      margin-bottom: 4%;
    }
  }
}

.graph__image {
  margin-top: 2%;
}