.paths__container {
  display: flex;

  div {
    width: 50%;
    text-align: center;
    font-size: 13px;
    height: 29px;

    a {
      vertical-align: sub;
    }
  }

  .my-path {
    border-radius: 4px 0 0 4px;
    font-weight: 800;
  }

  .michelada-path {
    border-radius: 0 4px 4px 0;
  }
}

.career-path {
  .advisors__container {
    .advisors {
      border-radius: 10px;
      background-color: $concrete;
    }
  }

  .breadcrumb__path {
    margin-top: 6%;

    .breadcrumb {
      li > a {
        color: $black;
      }
    }
  }
}

.performance--review {
  margin-top: 3%;
}