.resources__list {
  list-style: none;
  margin-left: 7%;

  li::before {
    content: "\2022";
    color: $jumbo;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  a {
    color: $reddish-pink;
    text-decoration: none;
  }

  @include desktop {
    margin-left: 1%;
  }
}

.main__container {
  .goal__container {
    margin-bottom: 5%;

    .breadcrumb__path {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2%;

      .breadcrumb {
        margin-bottom: 0;

        li > a {
          padding: 0 3px;
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
}
