.linear__separator {
  height: 1px;
  background: $alto;
  margin: 5% 4%;
}

.text--small {
  font-size: 15px;
}

.title {
  font-size: 34px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
}

.subtitle__container {
  b {
    color: $black;
  }

  @include mobile {
    margin-top: 7%;

    img {
      width: 16px;
      height: 16px;
    }

    p {
      margin-top: -3%;
      justify-content: center;
    }
  }

  .subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;

     .text {
      font-weight: 600;
      margin-left: 3%;
      font-family: $open-sans;
      font-size: 18px;
      color: $black;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
    }
  }
}

.reddish {
  color: $reddish-pink;
}

.text--white {
  color: $white;
}

.background--reddish {
  background-color: $reddish-pink;
  color: $white;
}

.border--reddish {
  border-radius: 4px;
  border: solid 1px $reddish-pink;
}

.concrete {
  background-color: $concrete;
}

.not__margin--bottom {
  margin-bottom: 0;
}

.main__container {
  .title {
    margin: 10% 0 5%;
  }

  .timeframe {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    align-items: center;
  }
}

.white {
  background-color: $white;
  border: solid 1px $alto;
}

.circle--reddish {
  border: 1px solid $reddish-pink;
}
