.linear__separator {
  height: 1px;
  background: $alto;
  margin: 5% 4%;

  @include desktop {
    margin: 2% 0%;
  }
}

.text--small {
  font-size: 15px;
}

.title {
  font-size: 34px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
}

.text {
  font-family: $open-sans;
  font-size: 1rem;
  color: $black;
  font-style: normal;
  font-stretch: normal;
  line-height: unset;
  letter-spacing: normal;
}

.reddish {
  color: $reddish-pink;
}

.text--white {
  color: $white;
}

.background--reddish {
  background-color: $reddish-pink;
  color: $white;
}

.concrete {
  background-color: $concrete;
}

.not__margin--bottom {
  margin-bottom: 0;
}

.main__container {
  .title {
    margin: 10% 0 5%;

    @include desktop {
      margin: 2% 0;
    }
  }

  .timeframe {
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
    align-items: center;

    .select {
      @include mobile {
        width: 138px;
      }
    }
  }
}

.textarea--white {
  background-color: $white;
  border: solid 1px $alto;
}

.circle--reddish {
  border: 1px solid $reddish-pink;
}

.hidden {
  display: none !important;
}

.subtitle {
  display: flex;
  flex-direction: row;
  color: $black;
  margin: 5% 0 1% !important;

  @include desktop {
    margin: 0 0 1% !important;
  }
}

.subtitle__text {
  color: $black;
  font-weight: 600;
  font-family: $open-sans;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 2% 0;
}

.subtitle__text--medium {
  font-size: 1.125rem;
}

.subtitle__text__with_icon {
  margin: 3% 2% 3% 0;

  @include desktop {
    margin: 2% 2% 0 0;
  }
}

.subtitle__image {
  height: 16px;
  margin: 3% 2% 3% 0;
  width: 16px;

  @include desktop {
    margin: 2% 1% 0 0;
  }
}

.desktop {
  @include desktop {
    display: block;
  }

  @include mobile {
    display: none;
  }
}

.mobile {
  @include desktop {
    display: none;
  }

  @include mobile {
    display: block;
  }
}

.title--category {
  font-size: 34px;
  font-weight: 800;

  @include desktop {
    margin: 2% 0 1%;
  }

  @include mobile {
    margin: 10% 0 5%;
  }
}

.desktop--container {
  @include desktop {
    max-width: 33%;
    margin: auto;
  }
}

.message-content {
  color: $white;
}
