.container {
  .tasks__container {
    margin-top: 5%;

    .task {
      display: flex;
      width: 100%;
      margin-bottom: 5%;

      .fa-check-circle {
        font-size: 19px;
        width: 10%;
        color: $black;
      }

      .circle {
        border-radius: 50%;
        width: 19px;
        height: 19px;
        background: transparent;
        border: 1px solid $alto;
      }

      .circle--not-check {
        width: 10%;
      }

      p {
        width: 90%;
      }
    }
  }

  .linear__separator {
    margin: 5% 0;
  }

  .advisors__container {
    .advisors {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;

      @include mobile {
        border-radius: 10px;
        max-width: 65%;
        height: 35px;
        margin: 4% 0 8%;
      }

      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 5%;
      }
    }
  }

  .create__task {
    display: flex;
    flex-direction: column;

    .textarea {
      border-radius: 10px;
      margin-top: 2%;
      color: $black;
      border: solid 1px $alto;
      font-weight: 300;
    }

    b {
      margin-top: 2%;
    }
  }
}

.container--no-tasks {
  height: 110px;
  padding: 1% 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
