.content {
  margin-top: 4%;

  a {
    display: flex;
    justify-content: center;

    span {
      padding-left: 20px;
      font-weight: 800;
    }
  }
}

.copyright--text {
  color: $jumbo;
  font-size: 13px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
