.main__container.column
  .title Career Path
  .paths__container
    .path__container.background--reddish.my-path
      =link_to('My path', '#', class: 'text--white')
    .path__container.button__border--reddish.michelada-path
      =link_to("micheladas's path", '#', class: 'reddish')
  .subtitle__container
    %b My performance
    %p.performance--review Your profile is mostly focused on building We recomment you to lorem ipsum
  .linear__separator
  .container.career-path
    .advisors__container
      .subtitle__container
        .subtitle
          =image_tag 'advisors-icon.svg'
          .text My mentors:
      .mentors-by-level__container
        .breadcrumb__path
          %nav.breadcrumb
            %ul
              %li
                =link_to('Building', '#')
              %li
                =link_to('Mobile', '#')
              %li
                =link_to('level 3', '#', class: 'is-active')
        .advisors
          =image_tag('karen.png')
          %p Karen Ventura