.main__container.column
  .title Define Objective
  .subtitle__container
    .subtitle
      =image_tag 'flag-icon.svg'
      .text The main goal in this level
    %p Design major new features and demostrates a nuanced understanding of mobile platform constrains
  .subtitle__container
    .subtitle
      =image_tag 'tasks-icon.svg'
      .text OKR
    %p Objectives and key results are defined by lorem ipsum...
  .container
    .create__task
      .objective__definition
        %b Define Objective
        %p 120 characters
      = text_area_tag 'task-textarea', 'Example: Improve Code Quality', class: 'textarea white', size: "10x2"
  .wizard__container
    .wizard__step
      .wizard__step--disabled
      %span Milestone
    .wizard__step
      .wizard__step--enabled
      %span Objective
    .wizard__step
      .wizard__step--disabled
      %span Task
  .buttons__container
    = link_to('Cancel', root_path, class: 'button button--reddish button--small')
    = link_to('Next', new_task_path, class: 'button button__filled--reddish button--small')