.footer {
  background-color: $concrete;
  padding: 3rem 0 1rem;

  .categories__container {
    margin: auto 4%;
    display: flex;
    justify-content: space-between;

    .category {
      text-align: center;
    }
  }
}