.footer {
  @include desktop {
    display: none;
  }

  width: 100%;
  background-color: $concrete;
  padding: 1rem 0 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .categories__container {
    margin: auto 4%;
    display: flex;
    justify-content: space-between;

    .category {
      text-align: center;

      p {
        font-size: 11px;
      }
    }
  }
}