.footer {
  bottom: 0;
  background-color: $concrete;
  left: 0;
  padding: 1rem 0 1rem;
  position: fixed;
  width: 95%;

  .categories__container {
    margin: auto 4%;
    display: flex;
    justify-content: space-between;

    .category {
      text-align: center;

      p {
        font-size: 11px;
      }
    }
  }
}