.header__container {
  background-color: $concrete;

  .navbar {
    display: flex;
    justify-content: space-between;

    .navbar__brand {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $concrete;

      a {
        margin-left: 0.625em;
      }

      img {
        width: 2.250em;
        height: 2.250em;
      }

      .app__name {
        font-size: 1.125em;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-left: 0.813em;
      }
    }

    .navbar__items {
      background-color: $concrete;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .fa-bullseye {
        font-size: 1.375em;
      }

      .profile--image {
        width: 2.250em;
        height: 2.250em;
        border-radius: 3.125em;
      }

      .line {
        color: $alto;
      }
    }
  }
}

.navbar__item__image {
  display: block;
  margin-right: 0.250em;
}

.item {
  height: 100%;
  align-items: center;
  color: $reddish-pink;

  &.active {
    color: $dark;
    border-bottom: 0.125em solid $dark;
  }
}

.item--concrete {
  color: $jumbo;
}
