.step-content
  .title=t("pages.goals.create_key_result")
  .subtitle
    .subtitle__image
      =image_tag 'tasks-icon.svg'
    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
      =t("generic.key_result")
  .text=t("pages.goals.key_result_number_recomendation")
  = objective_form.fields_for :key_results do |key_form|
    .container
      .create__task
        %b=t("pages.goals.key_result")
        = text_area_tag('key-result', '', class: 'textarea textarea--white textarea-key-result', size: '10x2')
      %input{ type: 'button', value: "#{t("generic.add_key_result")}", class: 'button button--small button__color--reddish button__border--reddish button--right add-key-result'}
  .container
    %b=t("pages.goals.actual_key_results")
    .tasks__container.dynamic__container
    = hidden_field_tag('key_result_index', '0')

:javascript
  $(document).ready( function() {
    new Egf.KeyResults().dynamicForm();
    new Egf.Modal().closeModal();
  });
