= f.fields_for :objectives do |objective_form|
  .title Define Objective
  .subtitle__container
    .subtitle
      =image_tag 'flag-icon.svg'
      .text The main goal in this level
    %p Design major new features and demostrates a nuanced understanding of mobile platform constrains
  .subtitle__container
    .subtitle
      =image_tag 'tasks-icon.svg'
      .text OKR
    %p Objectives and key results are defined by lorem ipsum...
  .container
    .create__task
      .objective__definition
        %b Define Objective
        %p 120 characters
      = objective_form.text_area(:description, class: 'textarea textarea--white', size: '10x2')
