.wizard__container
  .wizard__step
    .wizard__step--enabled
    %span Milestone
  .wizard__step
    .wizard__step--disabled
    %span Objective
  .wizard__step
    .wizard__step--disabled
    %span Task