.column.desktop--container
  = form_for @key_result do |f|
    .step-content
      .title=t("pages.goals.create_key_result")
      .subtitle
        .subtitle__image
          =image_tag 'tasks-icon.svg'
        .subtitle__text.subtitle__text--medium.subtitle__text__with_icon Key results
      .text=t("pages.goals.key_result_number_recomendation")
      .container
        .create__task
          %b=t("pages.goals.key_result")
          = f.text_area(:description, class: 'textarea textarea--white textarea-key-result', size: '10x2')
      .container
        %b=t("pages.goals.actual_key_results")
        .tasks__container.dynamic__container
      = f.hidden_field :objective_id
      = f.submit(t("generic.create"), class: 'button button__color--reddish button__border--reddish button--large')
