.accordion-header, .accordion-body {
  background-color: $white !important;
  border: none !important;
  border-radius: none !important;
}

.accordion-content {
  padding: 0 !important;

  .subtitle__container {
    padding: 0 4% !important;
  }
}

.accordion-header {
  padding: 1em 1.25em 0 !important;

  .breadcrumb__path {
    .breadcrumb {
      li > a {
        color: $black !important;
      }
    }
  }
}

.accordion {
  button {
    // override accordion component properties
    height: 23px !important;
    width: 23px !important;
    max-height: 23px !important;
    max-width: 23px !important;
    min-height: 23px !important;
    min-width: 23px !important;
    background-color: transparent !important;
    border-radius: none;
    background-image: url('more-icon.svg');
    background-repeat: no-repeat;
    border: none;
  }

  button::before {
    content: none !important;
  }

  &.is-active {
    button {
      background-image: url('less-icon.svg');
    }

    .breadcrumb__path {
      .breadcrumb {
        li > a {
          color: $reddish-pink !important;
        }
      }
    }
  }
}

.container.acordion--objectives {
  background-color: $concrete;

  .subtitle__container--objectives {
    background-color: $concrete;
    padding: 10px 4% !important;
  }

  .accordion-header {
    padding: 0 !important;
    display: flex;
    align-items: flex-end;
    padding: 6px 4% !important;

    .subtitle__container {
      width: 80%;
    }
  }

  .accordion {
    &.is-active {
      .accordion-body, .accordion-header {
        background-color: $gallery !important;
      }

    }
  }

  .accordion-content {
    padding: 0 4% !important;
    margin-bottom: 5%;
  }

  .okr__container {
    padding: 10px 4% 0;
  }

  .advisors__container {
    padding: 10px 4%;
  }
}
