.accordion-header, .accordion-body {
  background-color: $white;
  border: none;
  border-radius: none;
}

.accordion-content {
  .subtitle, .text {
    padding: 0;
  }
}

.accordion-header {
  padding: 1em 1.25em 0;

  .breadcrumb__path {
    .breadcrumb {
      li > a {
        color: $black;
      }
    }
  }

  .path__container {
    width: 90%;
  }
}

.accordions .accordion .accordion-header {
  background-color: $white;
}

.accordions .accordion {
  .accordion-header .toggle {
    // override accordion component properties
    height: 23px;
    width: 23px;
    max-height: 23px;
    max-width: 23px;
    min-height: 23px;
    min-width: 23px;
    background-color: transparent;
    border-radius: none;
    background-image: image-url('more-icon.svg');
    background-repeat: no-repeat;
    border: none;
    margin-top: 4%;
  }

  &.is-active {
    .accordion-header .toggle {
      background-image: image-url('less-icon.svg');
    }

    .breadcrumb__path {
      .breadcrumb {
        li > a {
          color: $reddish-pink;
        }
      }
    }
  }
}

.accordion--objective {
  button {
    height: 23px;
    width: 23px;
    max-height: 23px;
    max-width: 23px;
    min-height: 23px;
    min-width: 23px;
    background-color: transparent;
    border-radius: none;
    background-image: url('more-icon.svg');
    background-repeat: no-repeat;
    border: none;
  }

  .accordion-body {
    display: none;
  }

  &.is-active {
    button {
      background-image: url('less-icon.svg');
    }

    .accordion-body, .accordion-header {
      background-color: $gallery;
    }

    .accordion-body {
      display: block;
    }
  }
}

.accordions .accordion.is-active .accordion-header .toggle::before {
  content: none;
}

.accordions .accordion .accordion-header .toggle::before {
  content: none;
}

.container.acordion--objectives {
  background-color: $concrete;

  .tasks__container .task .circle {
    border: 1px solid $reddish-pink;
  }

  .accordion-header {
    padding: 0;
    display: flex;
    align-items: flex-end;
    padding: 0.5em 0.75em !important;
    background-color: $concrete;
  }

  .accordion-content {
    padding: 0 4% !important;
    margin-bottom: 5%;
  }

  .advisors__container {
    padding: 0.625em 4%;
  }
}

.accordions .accordion a:not(.button):not(.tag) {
  color: $reddish-pink;
}

.accordions .accordion .accordion-header {
  align-items: baseline;
  color: $black;
  padding: 0;
}

.accordion-content .advisors__container .subtitle--advisors {
  padding: 0;
}

.objective {
  padding: 4% 4%;
}

.accordions .accordion .accordion-header+.accordion-body {
  border: none;

  .accordion-content {
    padding: 0;
  }
}
