.button {
  border: solid 2px $alto;
  border-radius: 10px;
  font-weight: 600;
  color: $alto;
}

.button {
  margin: 3% auto;
  display: block;
  border: solid 2px $alto;
  border-radius: 10px;
  font-weight: 600;
  color: $alto;

  @include mobile {
    margin: 10% auto;
  }
}

.button__color--reddish {
  color: $reddish-pink;
}

.button__border--reddish {
  border-radius: 10px;
  border: solid 1px $reddish-pink;
}

.button__filled--alto {
  background-color: $alto;
  color: $white;
}

.button__filled--reddish {
  background-color: $reddish-pink;
  color: $white;
  border: solid 2px $reddish-pink;
}

.button--large {
  width: 240px;
}

.button--small {
  width: 140px;
}

.buttons__container {
  display: flex;
  margin-top: 7%;
}

.button--right {
  margin: 10% 0;
}

.button--edit {
  margin-top: 2%;
}

.button[disabled], fieldset[disabled] .button {
  border-color: $reddish-pink;
}
