select {
  width: 342px;
  height: 40px;
  border-radius: 10px !important;
  border: solid 1px $alto !important;
  color: $alto !important;
}

.select:not(.is-multiple):not(.is-loading)::after{
  border-color: $alto !important;
}

.select__container {
  display: flex;
  flex-direction: column;
  height: 122px;
  justify-content: space-evenly;
}

input[type="date"]
{
  border: solid 1px $alto;
  border-radius: 10px;
  color: $reddish-pink;
  text-align: end;
  font-size: 16px;
  font-family: $open-sans;
  font-weight: 300;

  @include mobile {
    width: 135px;
    height: 40px;
  }
}

#track_id {
  background-color: $concrete;
}
