// override bulma steps class
.steps {
  display: inherit;
  min-height: 100vh;

  .extended {
    margin: 5% 0;
  }
}

.steps .step-item::before {
  background: transparent;
}

// override bulma steps class ^

.levels {
  font-size: $size-normal;
  min-height: $size-normal * 2;

  @include block;

  display: flex;
  flex-wrap: wrap;

  @include desktop {
    width: 20%;
    position: absolute;
    right: 29%;
    top: 28%;
  }

  @include tablet {
    top: 32%;
  }
}

.steps__item {
  margin-top: 0;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;

  &:not(:first-child) {
    flex-basis: 16px;
    flex-grow: 1;
    flex-shrink: 1;

    &::before {
      bottom: 0;
      content: " ";
      display: block;
      height: 1px;
      left: -50%;
      position: absolute;
      top: #{$size-normal};
      width: 100%;
    }
  }

  &::before {
    background: linear-gradient(to left, $reddish-pink 50%, $reddish-pink 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
}


.steps__marker {
  align-items: center;
  background: $white;
  border: 1px solid $reddish-pink;
  border-radius: 50%;
  color: $reddish-pink;
  display: flex;
  font-weight: $weight-bold;
  height: $size-normal * 2;
  justify-content: center;
  left: calc(50% - #{$size-normal});
  position: absolute;
  width: $size-normal * 2;
  z-index: 1;
}

.steps__marker--active {
  color: $white;
  background-color: $reddish-pink;
}

.steps__item--completed {
  &::after {
    display: block;
    left: 58%;
    position: relative;
    z-index: 1;
    top: -5px;
    content: image-url('checked-icon.svg');
  }
}

.step__content {
  display: none;

  &.is-active {
    display: block;
  }
}

.steps__container {
  display: none;

  @include mobile {
    display: block;
  }

  &.desktop {
    @include desktop {
      display: block;
    }

    @include mobile {
       display: none;
    }
  }
}

.subtitle--levels {
  position: absolute;
  right: 45%;
  top: 24%;

  @include tablet {
    right: 44%;
    top: 28%;
  }
}
