.tabs.is-toggle.is-small {
  font-size: 0.88rem;
  font-weight: bold;

  .tabs__element {
    .tabs__element__link {
      border: solid 1px $reddish-pink;
      color: $reddish-pink;
    }

    &.is-active .tabs__element__link {
      border: solid 1px $reddish-pink;
      background-color: $reddish-pink;
      color: $white;
    }
  }
}

.track__name {
  font-size: 22px;
  font-weight: bold;
}

.track__description {
  font-size: 19px;
}

.tabs:not(:last-child) {
  margin-bottom: 0;
}

.tab__content {
  padding: 1rem 0;
  display: none;
}

.tab__content.is-active {
  display: block;
}

.subtitle {
  display: flex;
  flex-direction: row;
  color: $black;
  margin: 5% 0 1% !important;
}

.subtitle__text {
  color: $black;
  font-weight: 600;
  font-family: $open-sans;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  margin: 2% 0;
}

.subtitle__text--medium {
  font-size: 1.3rem;
}

.subtitle__text__with_icon {
  margin: 3% 2% 3% 0;
}

.subtitle__image {
  height: 16px;
  margin: 3% 2% 3% 0;
  width: 16px;
}