.tabs.is-toggle.is-small {
  font-size: 0.88rem;
  font-weight: bold;

  .tabs__element {
    .tabs__element__link {
      border: solid 1px $reddish-pink;
      color: $reddish-pink;
    }

    &.is-active .tabs__element__link {
      border: solid 1px $reddish-pink;
      background-color: $reddish-pink;
      color: $white;
    }
  }
}

.tabs {
  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }
}

.track__name {
  font-size: 22px;
  font-weight: bold;
}

.track__description {
  font-size: 19px;
}

.tabs:not(:last-child) {
  margin-bottom: 0;
}

.tab__content {
  padding: 1rem 0;
  display: none;
}

.tab__content.is-active {
  display: block;
  margin-bottom: 20%;
}
