.wizard__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;

  .wizard__step {
    display: flex;
    font-size: 0.813em;
    justify-content: space-evenly;
    align-items: center;
    color: $jumbo;

    .wizard__step--circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: solid 1px $dusty-gray;
      background-color: $white;
    }

    span {
      padding-left: 0.188em;
    }

    &.is-active {
      .wizard__step--circle {
        border: solid 1px $dark;
        background-color: $dark;
      }
    }
  }
}
