.step-content
  .title Crear key result
  .subtitle
    .subtitle__image
      =image_tag 'tasks-icon.svg'
    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon Key results
  .text Te recomendamos tener al menos 2 tareas por periodo
  = objective_form.fields_for :key_results do |key_form|
    .container
      .create__task
        %b Key result
        = key_form.text_area(:description, class: 'textarea textarea--white', size: '10x2')
