.category{ class: "#{active_category('building')}"}
  =link_to(category_path("building"), class: 'flex') do
    =image_tag(category_icon("building"))
    %span.reddish Building
.category{ class: "#{active_category('executing')}"}
  =link_to(category_path("executing"), class: 'flex') do
    =image_tag(category_icon("executing"))
    %span.reddish Executing
.category{ class: "#{active_category('supporting')}"}
  =link_to(category_path("supporting"), class: 'flex') do
    =image_tag(category_icon("supporting"))
    %span.reddish Supporting
.category{ class: "#{active_category('strengthening')}"}
  =link_to(category_path("strengthening"), class: 'flex') do
    =image_tag(category_icon("strengthening"))
    %span.reddish Strengthening