.category
  =link_to(category_path('building')) do
    =image_tag(category_icon('building'))
    %span.reddish Building
.category
  =link_to(category_path('executing')) do
    =image_tag(category_icon('executing'))
    %span.reddish Executing
.category
  =link_to(category_path('supporting')) do
    =image_tag(category_icon('supporting'))
    %span.reddish Supporting
.category
  =link_to(category_path('strengthening')) do
    =image_tag(category_icon('strengthening'))
    %span.reddish Strengthening