.category
  =link_to(category_path("building")) do
    =image_tag(category_icon("building"))
    %span.reddish=t("activerecord.categories.building")
.category
  =link_to(category_path("executing")) do
    =image_tag(category_icon("executing"))
    %span.reddish=t("activerecord.categories.executing")
.category
  =link_to(category_path("supporting")) do
    =image_tag(category_icon("supporting"))
    %span.reddish=t("activerecord.categories.supporting")
.category
  =link_to(category_path("strengthening")) do
    =image_tag(category_icon("strengthening"))
    %span.reddish=t("activerecord.categories.strengthening")
