.mentors__card__container.columns
  = render partial: "mentor_card",
                     locals: { image: "user2pic@2x.png",
                               name: "Hector Bustillos",
                               level: "Lvl 5" }

  = render partial: "mentor_card",
                   locals: { image: "user3pic@2x.png",
                             name: "Marcela Lango",
                             level: "Lvl 4" }

  = render partial: "mentor_card",
                     locals: { image: "userpic@2x.png",
                               name: "Jesus Figueroa",
                               level: "Lvl 3" }

  = render partial: "mentor_card",
                     locals: { image: "user2pic@2x.png",
                               name: "Hector Bustillos",
                               level: "Lvl 5" }
