.footer
  .categories__container
    .category
      =link_to(category_path("building")) do
        =image_tag(category_icon("building"))
        %p Building
    .category
      =link_to(category_path("executing")) do
        =image_tag(category_icon("executing"))
        %p Executing
    .category
      =link_to(category_path("supporting")) do
        =image_tag(category_icon("supporting"))
        %p Supporting
    .category
      =link_to(category_path("strengthening")) do
        =image_tag(category_icon("strengthening"))
        %p Strengthening
