.footer
  .categories__container
    .category
      =image_tag('building-icon-active.svg')
      %p Building
    .category
      =image_tag('executing-icon.svg')
      %p Executing
    .category
      =image_tag('supporting-icon.svg')
      %p Supporting
    .category
      =image_tag('strengthening-icon.svg')
      %p Strengthening