.footer
  .categories__container
    .category
      =link_to(image_tag("building-icon-active.svg"), category_path("building"))
      %p Building
    .category
      =link_to(image_tag("executing-icon.svg"), category_path("executing"))
      %p Executing
    .category
      =link_to(image_tag("supporting-icon.svg"), category_path("supporting"))
      %p Supporting
    .category
      =link_to(image_tag("strengthening-icon.svg"), category_path("strengthening"))
      %p Strengthening