.header__container
  .navbar
    .navbar__brand.column
      =link_to(image_tag('michelada_icon.svg'), root_path)
      .app__name
        EGF
    - if current_user
      .navbar__items.column
        =link_to(image_tag('building-icon.svg'), categories_path)
        =link_to(image_tag('circle-icon.svg'), goals_path)
        .line
          |
        .profile
          =link_to(image_tag(current_user.image_url), achievements_path)
