.header__container
  .navbar
    .navbar__brand
      =image_tag "michelada_icon.png"
      .app__name
        EGF
    .navbar__items
      =image_tag "building-icon.svg"
      =image_tag "circle-icon.svg"
      .line
      .profile
        =image_tag "profile_icon.png"
